@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Instrument+Serif&family=Inter&family=Josefin+Sans&family=Open+Sans&family=Playfair+Display&family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-family: 'Instrument Serif', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3da0de;
    padding: 1%;
}

.nav ul{
    display: flex;
}

.nav li{
    list-style-type: none;
    padding: 10px;
}

.nav a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

form {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


.rodape{
    margin-top: 20px;
    text-align: center;
    background-color: #CDCDC6;
}